.chart{
    background-color: #FFFFFF;
    padding: 20px;
    flex: 4;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 450px;
    justify-content: center;

    
}